<h4>Vous avez oublié votre mot de passe ?</h4>
<p>Quelqu'un (on espère que c'est vous) a fait une demande pour réinitialiser son mot de passe. Vous pouvez le
    réinitialiser en cliquant sur le lien ci dessous :</p>
<p><a href="{{ url }}">{{ url }}</a></p>
<p>À bientôt !<br>Cordialement, l'équipe CMO</p>