{% extends 'base.html.twig' %}

{% block title %}Page de {{ user.username }}{% endblock %}

{% block body %}
    <div class="container">
        {% include 'components/connected-as.html.twig' %}
        
        <h1>Liste des projets de {{ user.username }}</h1>
        {% for project in projects %}
            <h5>{{ project.title }}</h5>
            <p>Créé {{ project.creation_date|timeago }}</p>
        {% endfor %}
    </div>
{% endblock %}