{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    {% if current_user.email %}{% include 'components/connected-as.html.twig' %}{% endif %}
    
    <a href="/users/{{ current_user.id_user }}" class="btn btn-outline-primary">{{ current_user.username }}</a>
</div>
{% endblock %}