{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}
<div class="container">
    <div class="mb-3 text-center">{% include 'components/logo.html.twig' %}</div>
    <p>{% include 'components/back-link.html.twig' %}</p>
    
    <h4 class="mb-3">Vous avez oublié votre mot de passe ?</h4>
    <form method="POST">
        <p>
            <label class="form-label">Veuillez renseigner votre email</label>
            <input type="email" class="form-control" name="email" />
        </p>

        <p>
            <button class="btn btn-primary">Envoyer le lien pour réinitialiser le mot de passe</button>
        </p>
    </form>
</div>
{% endblock %}