{% extends 'base.html.twig' %}

{% block title %}Choisir un mot de passe{% endblock %}

{% block body %}
<div class="container">
    <h4 class="mb-3">Choisissez votre mot de passe</h4>
    <form method="POST">
        <input type="hidden" name="email" value="{{ email }}">

        <p class="text-warning">Votre mot de passe doit contenir au moins 8 caractères</p>
        
        <div class="mb-3">
            <label class="form-label">Votre mot de passe</label>
            <input type="password" class="form-control" name="password1" />
        </div>

        <div class="mb-3">
            <label class="form-label">... une deuxième fois pour être certain</label>
            <input type="password" class="form-control" name="password2" />
        </div>

        <p class="text-muted">(Astuce : utilisez un gestionnaire de mot de passer pour ne plus avoir besoin de vous
            souvenir de vos mots de passe)</p>

        <button class="btn btn-primary mt-3">Valider</button>
    </form>
</div>
{% endblock %}