{% extends 'base.html.twig' %}

{% block title %}S'inscrire{% endblock %}

{% block body %}
	<div class="container col-4 m-auto">
		<div class="mb-5 text-center">{% include 'components/logo.html.twig' %}</div>
		<h4 class="mb-3">S'inscrire</h4>
		<form method="POST" class="mb-3">
            <label class="form-label d-block">
                Votre email
                <input type="email" class="form-control" name="email" value="{{ email }}"/>
            </label>

            <button class="btn btn-primary w-100">S'inscrire avec cette adresse email</button>
		</form>
        <a href="/login">Page de connexion</button>
	</div>
{% endblock %}
