<header class="my-4 my-md-5 row d-flex flex-md-row-reverse justify-content-between align-items-center">
    <span class="col-12 col-md-3 mb-3 mb-md-0 text-center text-md-end">{% include 'components/logo.html.twig' %}</span>
    <span class="col-12 col-md-9 text-muted">Connecté en tant que {{ current_user.email }} (<a
            href="/logout" class="text-muted">Se deconnecter</a>)
    </span>
</header>